<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytewizer.TinyCLR.Core" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Http" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Http.Mvc" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Http.StaticFiles" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Abstractions" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Pipeline" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Sockets" version="2.0.0-prebuild.72" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Core" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Data.Json" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Gpio" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Network" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Spi" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Storage" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Uart" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.IO" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Native" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Networking" version="2.0.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Pins" version="2.0.0" targetFramework="net452" />
</packages>