<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytewizer.TinyCLR.Core" version="2.1.7-preview.110" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Identity" version="2.1.7-preview.107" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Identity.Abstractions" version="2.1.7-preview.107" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging" version="2.1.7-preview.110" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Abstractions" version="2.1.7-preview.110" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Debug" version="2.1.7-preview.110" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Extensions" version="2.1.7-preview.110" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Core" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Cryptography" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Gpio" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Network" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Rtc" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Spi" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Storage" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Uart" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.IO" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Native" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Networking" version="2.1.0" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Pins" version="2.1.1" targetFramework="net452" />
</packages>