<!DOCTYPE html>
<html>
<head>
    <title>MicroServer Website</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/content/images/favicon.ico">
    <link rel="stylesheet" href="/content/css/style.css" type="text/css" />
</head>
<body>
    <div id="page">
        <div id="logo">
            <h1><a href="#" id="logoLink">MicroServer MVC Web Service</a></h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="https://github.com/microcompiler/microserver" target="_blank">GetHub Project</a></li>
            </ul>
        </div>
        <div id="content">
            <h2>Welcome</h2>
            <p>
                This is a MicroServer webpage built for Micro Framework (NETMF). Here are a few example controller endpoints:          
            </p>
            <div>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/home/gethello" target="_blank">GetHello</a></li>
                </ul>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/home/getjson" target="_blank">GetJSON</a></li>
                </ul>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/home/getfile" target="_blank">GetFile</a></li>
                </ul>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/home/getredirecttogetfile" target="_blank">GetRedirectToGetFile</a></li>
                </ul>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/home/getredirecttogoogle" target="_blank">GetRedirectToGoogle</a></li>
                </ul>
                <ul>
                    <li><a href="http://[%IPADDRESS%]/deny/river.jpg" target="_blank">Route: Access Deny (403 Forbidden)</a></li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <p>
                Hosted by <a href="http://www.netmf.com/" target="_blank">Micro Framework</a>
            </p>
        </div>
    </div>
</body>
</html>
