<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="img/ico" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function (event) {
                $.post('toggle', function (data) { });
            });
        });
    </script>

</head>

{{header "views\shared\header.html"}}

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {{has-image}}<span>{{image}}</span>{{/has-image}}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="font-weight-bold">{{teamid}} - {{playername}} - {{points}} - {{goals}} - {{assists}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" class="m-2 btn btn-dark btn-lg">Toggle Led</button>
                <div id="output"></div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{button name:"submit", style:"outline"}}
                <div id="output"></div>
            </div>
        </div>
    </div>
</body>

</html>