<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytewizer.TinyCLR.Logging" version="2.0.0-prebuild.12" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Abstractions" version="2.0.0-prebuild.12" targetFramework="net452" />
  <package id="Bytewizer.TinyCLR.Logging.Debug" version="2.0.0-prebuild.12" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Core" version="2.1.0-rc1" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Data.Json" version="2.1.0-rc1" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.IO" version="2.1.0-rc1" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Native" version="2.1.0-rc1" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Networking" version="2.1.0-rc1" targetFramework="net452" />
</packages>